/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
	display: flex;
	gap: 100px;
	flex-direction: column;
}
.navbar {
	border: 1px solid greenyellow;
	
}

.body {
	border: 1px solid red;
}
.footer {
	border: 1px solid rgb(75, 47, 255);
}